.rapido-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 14px;
    line-height: 20px;

    &._active {
        transform: scale(0.9);
        background-color: #ffd205;
        border: 1px solid #ffd205;
    }

    &._disable {
        cursor: default;
        opacity: .2;
    }
}
